# Cleaning Operations Department

## Step 1: Concatinate Split Data

### Loading and Concatinating Divided Data

In [159]:
import pandas as pd
import numpy as np

# load and concat line_item_data_prices.*
df_line_item_data_prices1 = pd.read_csv('../data/operations_department/line_item_data_prices1.csv')
df_line_item_data_prices2 = pd.read_csv('../data/operations_department/line_item_data_prices2.csv')
df_line_item_data_prices3 = pd.read_parquet('../data/operations_department/line_item_data_prices3.parquet')
print("Succesfuly Loaded line_item_data_prices (3 files)")
df_line_item_data_prices_concat = pd.concat([df_line_item_data_prices1, df_line_item_data_prices2, df_line_item_data_prices3])
df_line_item_data_prices_concat.rename( columns={'Unnamed: 0':'index'}, inplace=True ) # add name to index column
df_line_item_data_prices_concat.drop(["index"], axis=1, inplace=True) #remove index columns
# Uppercase all columns
df_line_item_data_prices_concat.columns = df_line_item_data_prices_concat.columns.str.upper()
print("Succesfuly Concatinated line_item_data_prices (3 files)")

# load and concat line_item_data_products.*
df_line_item_data_products1 = pd.read_csv('../data/operations_department/line_item_data_products1.csv')
df_line_item_data_products2 = pd.read_csv('../data/operations_department/line_item_data_products2.csv')
df_line_item_data_products3 = pd.read_parquet('../data/operations_department/line_item_data_products3.parquet')
print("Succesfuly Loaded line_item_data_products (3 files)")
df_line_item_data_products_concat = pd.concat([df_line_item_data_products1, df_line_item_data_products2, df_line_item_data_products3])
df_line_item_data_products_concat.rename( columns={'Unnamed: 0':'index'}, inplace=True ) # add name to index column
df_line_item_data_products_concat.drop(["index"], axis=1, inplace=True) #remove index columns
df_line_item_data_products_concat.columns = df_line_item_data_products_concat.columns.str.upper()
print("Succesfuly Concatinated line_item_data_products (3 files)")

# load and concat order_data_.*
df_order_data1 = pd.read_parquet('../data/operations_department/order_data_20200101-20200701.parquet')
df_order_data2 = pd.read_pickle('../data/operations_department/order_data_20200701-20211001.pickle')
df_order_data3 = pd.read_csv('../data/operations_department/order_data_20211001-20220101.csv')
df_order_data4 = pd.read_excel('../data/operations_department/order_data_20220101-20221201.xlsx')
df_order_data5 = pd.read_json('../data/operations_department/order_data_20221201-20230601.json')
df_order_data6_list = pd.read_html('../data/operations_department/order_data_20230601-20240101.html')
df_order_data6 = df_order_data6_list[0]
print("Succesfuly Loaded order_data (6 files)")
df_order_data_concat = pd.concat([df_order_data1, df_order_data2, df_order_data3, df_order_data4, df_order_data5, df_order_data6])
df_order_data_concat.rename( columns={'Unnamed: 0':'index'}, inplace=True ) # add name to index column
df_order_data_concat.drop(["index"], axis=1, inplace=True) #remove index columns
df_order_data_concat.reset_index(drop=True, inplace=True) # reset index to 
df_order_data_concat.columns = df_order_data_concat.columns.str.upper()
print("Succesfuly Concatinated order_data (6 files)")

# load order_delays.html
df_order_delays_list = pd.read_html('../data/operations_department/order_delays.html')
df_order_delays = df_order_delays_list[0]
df_order_delays.rename( columns={'Unnamed: 0':'index'}, inplace=True ) # add name to index column
df_order_delays.drop(["index"], axis=1, inplace=True) #remove index
df_order_delays.columns = df_order_delays.columns.str.upper()
print("Succesfuly Loaded order_delays")

Succesfuly Loaded line_item_data_prices (3 files)
Succesfuly Concatinated line_item_data_prices (3 files)
Succesfuly Loaded line_item_data_products (3 files)
Succesfuly Concatinated line_item_data_products (3 files)
Succesfuly Loaded order_data (6 files)
Succesfuly Concatinated order_data (6 files)
Succesfuly Loaded order_delays

### Merging All Concatinated Data

In [161]:
df_merge_orderData_lineProducts = pd.merge(df_order_data_concat, df_line_item_data_products_concat, on='ORDER_ID')
print("Succesfuly Merged order_data and line_item_data_products")
df_merge_orderData_linePrices = pd.merge(df_merge_orderData_lineProducts, df_line_item_data_prices_concat, on='ORDER_ID')
print("Succesfuly Merged order_data and line_item_data_prices")
df_merge_orderData_orderDelays = pd.merge(df_merge_orderData_linePrices, df_order_delays, on='ORDER_ID')
print("Succesfuly Merged order_data and order_delays")
df_merge_operations = df_merge_orderData_orderDelays.copy()

Succesfuly Merged order_data and line_item_data_products
Succesfuly Merged order_data and line_item_data_prices
Succesfuly Merged order_data and order_delays

In [104]:
# line_item_data_prices info
# print(df_line_item_data_prices1.info())
# print(df_line_item_data_prices2.info())
# print(df_line_item_data_prices3.info())
# print(df_line_item_data_prices_concat.info())

# line_item_data_products info
# print(df_line_item_data_products1.info())
# print(df_line_item_data_products2.info())
# print(df_line_item_data_products3.info())
# print(df_line_item_data_products_concat.info())

# order_data info
# print(df_order_data1.info())
# print(df_order_data2.info())
# print(df_order_data3.info())
# print(df_order_data4.info())
# print(df_order_data5.info())
# print(df_order_data6.info())
# print(df_order_data_concat.info())

# print(df_order_delays.info())

In [106]:
# print(df_line_item_data_prices1.shape)
# print(df_line_item_data_prices2.shape)
# print(df_line_item_data_prices3.shape)
# print(df_line_item_data_prices_concat.shape)

# print(df_line_item_data_products1.shape)
# print(df_line_item_data_products2.shape)
# print(df_line_item_data_products3.shape)
# print(df_line_item_data_products_concat.shape)

# print(df_order_data1.shape)
# print(df_order_data2.shape)
# print(df_order_data3.shape)
# print(df_order_data4.shape)
# print(df_order_data5.shape)
# print(df_order_data6.shape)
#print(df_order_data_concat.shape)

# print(df_order_delays.shape)

(200000, 2)

In [130]:
# Check if there are any null/NaN values in the dataframe
df_merge_operations.isnull().any().any()
df_merge_operations.isnull().sum().sum()
# !No null/NaN values in the dataframe!

0

In [162]:
# Checking Unique Values for quantity
df_merge_operations['QUANTITY'].unique()

array(['6piece', '5pieces', '5px', '5PC', '2px', '4px', '1px', '2piece',
       '3PC', '6pcs', '1PCs', '3pcs', '1pcs', '2pcs', '2PC', '2PCs',
       '7px', '9px', '7pieces', '4piece', '3pieces', '4PCs', '3px', '1PC',
       '5PCs', '1piece', '4pieces', '3PCs', '4PC', '7pcs', '9pieces',
       '9PCs', '1pieces', '5pcs', '6px', '7piece', '8PCs', '3piece',
       '4pcs', '2pieces', '10PC', '10PCs', '8px', '5piece', '10pieces',
       '7PC', '8pcs', '6PCs', '7PCs', '6PC', '6pieces', '10px', '8PC',
       '9pcs', '10pcs', '10piece', '8pieces', '9PC', '8piece', '9piece'],
      dtype=object)

## Step 2: Standardize Quantity Column

In [163]:
df_standardized_quantity = df_merge_operations.copy()
df_standardized_quantity['QUANTITY'] = df_standardized_quantity['QUANTITY'].astype(str).str.extract(r'(\d+)', expand=False).astype(float).astype('Int64')
df_standardized_quantity.tail(10)

,ORDER_ID,USER_ID,ESTIMATED ARRIVAL,TRANSACTION_DATE,PRODUCT_NAME,PRODUCT_ID,PRICE,QUANTITY,DELAY IN DAYS
4398255,567ef043-cc78-42af-90cc-9e92a240479f,USER28093,3days,2023-10-08,sticky note,PRODUCT49928,5.74,1,8
4398256,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3days,2023-11-07,panda plushie,PRODUCT31819,38.07,2,5
4398257,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3days,2023-11-07,panda plushie,PRODUCT31819,38.07,2,5
4398258,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3days,2023-11-07,panda plushie,PRODUCT31819,38.07,3,5
4398259,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3days,2023-11-07,camera,PRODUCT51599,38.07,2,5
4398260,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3days,2023-11-07,camera,PRODUCT51599,38.07,2,5
4398261,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3days,2023-11-07,camera,PRODUCT51599,38.07,3,5
4398262,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3days,2023-11-07,deviant television,PRODUCT62563,38.07,2,5
4398263,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3days,2023-11-07,deviant television,PRODUCT62563,38.07,2,5
4398264,a2561340-c850-4f85-8e20-e9ceccd10608,USER05932,3days,2023-11-07,deviant television,PRODUCT62563,38.07,3,5

## Step 3: Uppercase All Strings and Standardize Column Names

In [164]:
df_uppercased = df_standardized_quantity.copy()
# Add _ to column names with spaces
df_uppercased = df_uppercased.rename(columns={'ESTIMATED ARRIVAL': 'ESTIMATED_ARRIVAL'})
df_uppercased = df_uppercased.rename(columns={'DELAY IN DAYS': 'DELAY_IN_DAYS'})
# Uppercase all strings
df_uppercased = df_uppercased.apply(lambda x: x.str.upper() if x.dtype == 'O' else x)
df_uppercased.head()

,ORDER_ID,USER_ID,ESTIMATED_ARRIVAL,TRANSACTION_DATE,PRODUCT_NAME,PRODUCT_ID,PRICE,QUANTITY,DELAY_IN_DAYS
0,14473B59-6C4F-429E-89EF-CE920B209DF3,USER08179,8DAYS,2020-04-07,ALLEN WRENCH,PRODUCT02028,17.28,6,8
1,14473B59-6C4F-429E-89EF-CE920B209DF3,USER08179,8DAYS,2020-04-07,ALLEN WRENCH,PRODUCT02028,5.74,5,8
2,14473B59-6C4F-429E-89EF-CE920B209DF3,USER08179,8DAYS,2020-04-07,DAGGER,PRODUCT46943,17.28,6,8
3,14473B59-6C4F-429E-89EF-CE920B209DF3,USER08179,8DAYS,2020-04-07,DAGGER,PRODUCT46943,5.74,5,8
4,579ACFFB-9FBF-4D5D-BE56-19BB793C7E99,USER45764,4DAYS,2020-03-16,BRUSH,PRODUCT30561,5.74,5,4

In [115]:
# Checking Unique Values for ESTIMATED_ARRIVAL
df_uppercased['ESTIMATED_ARRIVAL'].unique()
# !standardizes!

array(['8DAYS', '4DAYS', '10DAYS', '11DAYS', '5DAYS', '7DAYS', '3DAYS',
       '12DAYS', '6DAYS', '9DAYS', '14DAYS', '13DAYS', '15DAYS'],
      dtype=object)

In [132]:
# Checking Unique Values for ESTIMATED_ARRIVAL
df_uppercased['TRANSACTION_DATE'].unique()
# df_uppercased.info()
# !standardizes!

array(['2020-04-07', '2020-03-16', '2020-06-30', ..., '2023-11-02',
       '2023-08-30', '2023-08-24'], dtype=object)

## Step 4: Convert Column to Proper Data Type

In [165]:
df_converted_data_type = df_uppercased.copy()
# Convert TRANSACTION_DATE to datetime format
df_converted_data_type['TRANSACTION_DATE'] = pd.to_datetime(df_converted_data_type['TRANSACTION_DATE'])
df_converted_data_type.shape
# df_converted_data_type.info()
# df_converted_data_type.head()

(4398265, 9)

## Step 5: Correct Prices

In [176]:
# get product_list
df_product_list = pd.read_parquet('product_final_list.parquet')
df_product_list.columns = df_product_list.columns.str.upper()
df_product_list.head()

# Merge the dataframes on the 'PRODUCT_ID' column
merged_df = pd.merge(df_converted_data_type, df_product_list[['PRODUCT_ID', 'PRICE']], on='PRODUCT_ID', how='left', suffixes=('_converted', '_original'))

# Update the 'PRICE' column in df_converted_data_type with the values from df_product_list
merged_df['PRICE_converted'] = merged_df['PRICE_original']

# Drop unnecessary columns
merged_df = merged_df.drop(['PRICE_original'], axis=1)

# Rename the 'PRICE_converted' column to 'PRICE'
merged_df = merged_df.rename(columns={'PRICE_converted': 'PRICE'})

df_corrected_prices = merged_df.copy()

## Step 6: Drop Duplicates

In [177]:
# Drop duplicates
df_droped_duplicates = df_corrected_prices.drop_duplicates()
print(df_corrected_prices.shape)
print(df_droped_duplicates.shape)
df_droped_duplicates.head()

(4398265, 9)
(2225614, 9)

,ORDER_ID,USER_ID,ESTIMATED_ARRIVAL,TRANSACTION_DATE,PRODUCT_NAME,PRODUCT_ID,PRICE,QUANTITY,DELAY_IN_DAYS
0,14473B59-6C4F-429E-89EF-CE920B209DF3,USER08179,8DAYS,2020-04-07,ALLEN WRENCH,PRODUCT02028,17.28,6,8
1,14473B59-6C4F-429E-89EF-CE920B209DF3,USER08179,8DAYS,2020-04-07,ALLEN WRENCH,PRODUCT02028,17.28,5,8
2,14473B59-6C4F-429E-89EF-CE920B209DF3,USER08179,8DAYS,2020-04-07,DAGGER,PRODUCT46943,5.74,6,8
3,14473B59-6C4F-429E-89EF-CE920B209DF3,USER08179,8DAYS,2020-04-07,DAGGER,PRODUCT46943,5.74,5,8
4,579ACFFB-9FBF-4D5D-BE56-19BB793C7E99,USER45764,4DAYS,2020-03-16,BRUSH,PRODUCT30561,5.74,5,4

In [140]:
df_droped_duplicates.loc[df_droped_duplicates['PRODUCT_ID'] == 'PRODUCT02028']

,ORDER_ID,USER_ID,ESTIMATED_ARRIVAL,TRANSACTION_DATE,PRODUCT_NAME,PRODUCT_ID,PRICE,QUANTITY,DELAY_IN_DAYS
0,14473B59-6C4F-429E-89EF-CE920B209DF3,USER08179,8DAYS,2020-04-07,ALLEN WRENCH,PRODUCT02028,17.28,6,8
1,14473B59-6C4F-429E-89EF-CE920B209DF3,USER08179,8DAYS,2020-04-07,ALLEN WRENCH,PRODUCT02028,5.74,5,8
2497,DE0D3254-8D8B-497B-81F0-071DC419E241,USER64589,4DAYS,2020-06-19,ALLEN WRENCH,PRODUCT02028,5.83,3,9
2498,DE0D3254-8D8B-497B-81F0-071DC419E241,USER64589,4DAYS,2020-06-19,ALLEN WRENCH,PRODUCT02028,10.95,2,9
2499,DE0D3254-8D8B-497B-81F0-071DC419E241,USER64589,4DAYS,2020-06-19,ALLEN WRENCH,PRODUCT02028,17.28,3,9
...,...,...,...,...,...,...,...,...,...
4393105,6A1B8F59-6BAF-4874-9A67-FDD18EEFA9E2,USER00005,11DAYS,2023-07-27,ALLEN WRENCH,PRODUCT02028,17.28,2,1
4396364,FE4235C6-8FE3-42E9-8E9B-60A78C1246B3,USER06065,12DAYS,2023-10-05,ALLEN WRENCH,PRODUCT02028,6.11,3,2
4396365,FE4235C6-8FE3-42E9-8E9B-60A78C1246B3,USER06065,12DAYS,2023-10-05,ALLEN WRENCH,PRODUCT02028,17.28,3,2
4396366,FE4235C6-8FE3-42E9-8E9B-60A78C1246B3,USER06065,12DAYS,2023-10-05,ALLEN WRENCH,PRODUCT02028,38.07,3,2
4396367,FE4235C6-8FE3-42E9-8E9B-60A78C1246B3,USER06065,12DAYS,2023-10-05,ALLEN WRENCH,PRODUCT02028,17.84,2,2